/* Automatic dark/light mode detection */
@media(prefers-color-scheme:dark){
 body, footer, header, p {
 background-color: $darkGray;
 color: $lightGray;
 }
 
  a {
   color:$lightBlue;
  }
  a:visited {
   color:$lightBlue;
  }
  a:hover {
   color: $lightBlue;
   text-decoration: underline;
      }
    
	h1,h2,h3,h4,h5,h6 {
  color: $lightBlue;
	}
    
    .entry > p {
   color: $lightGray;
   text-decoration: none;
}
	
  .social-icon {
    color: $paleGray;
    
      &:hover {
      color: $lightGray;
      }
     }
      
   .site-name {
  color: $lightBlue;
  }
   .site-description {
  color: $lightGray;
  }
  
  .site-info h1 a {
  color: $lightBlue;
  }
  
.nav-menu-item.active,
a.nav-menu-item:focus {
  text-decoration: none;
  color: $lightBlue;
}

.wrapper-footer {
background-color: $darkGray;
color: $lightGray;
}

input {
    &[type=text] {
    color: $lightGray;
    }
  }

.date {
color: $lightGray;
}
.post-categories {
color: $lightGray;
}
.share-post {
color: $lightGray;
}
.post-nav-label {
color: $lightGray;
}
.related-posts-heading {
color: $lightGray;
}



}

@media (prefers-color-scheme: light) {
  body, footer, header, p {
 background-color: $lightGray;
 color: $darkGray;
 }
 
  a {
   color:$lightBlue;
  }
  a:visited {
   color:$lightBlue;
  }
  a:hover {
   color: $lightBlue;
   text-decoration: underline;
      }
    
	h1,h2,h3,h4,h5,h6 {
  color: $lightBlue;
	}
    
    .entry > p {
   color: $darkGray;
   text-decoration: none;
}
	
  .social-icon {
    color: $paleGray;
    
      &:hover {
      color: $darkGray;
      }
     }
      
   .site-name {
  color: $lightBlue;
  }
   .site-description {
  color: $darkGray;
  }
  
  .site-info h1 a {
  color: $lightBlue;
  }
  
.nav-menu-item.active,
a.nav-menu-item:focus {
  text-decoration: none;
  color: $lightBlue;
}

.wrapper-footer {
background-color: $darkGray;
color: $darkGray;
}

input {
    &[type=text] {
    color: $darkGray;
    }
  }

.date {
color: $darkGray;
}
.post-categories {
color: $darkGray;
}
.share-post {
color: $darkGray;
}
.post-nav-label {
color: $darkGray;
}
.related-posts-heading {
color: $darkGray;
}

}